* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
html {
  width: 350px;
  height: 200px;
  text-align: center;
}
#timer-container {
  font-size: 1.5rem;
}
